@import "../../variables.scss";

.footer {
	background-color: $dark-2;
	color: $light-1;
	display: flex;
	flex-direction: column;

	.socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: $font-secondary-2;
		margin: 50px 0 0;
		font-size: 1.3rem;
		letter-spacing: 2px;

		.newsletter {
			display: flex;
			align-items: center;
			margin-left: 6rem;
			text-align: center;

			form {
				display: flex;
				align-items: center;

				input {
					margin-left: 20px;
					border: none;
					border-radius: 5px 0 0 5px;
					background-color: $dark-1;
					height: 50px;
					padding: 5px 10px;
					color: $light-1;
					font-family: $font-primary-5;
				}

				button {
					height: 50px;
					padding: 10px;
					color: $secondary-3;
					border-radius: 0 5px 5px 0;
					border: none;
					font-family: $font-primary-5;
					background-color: darkgreen;
				}
			}
		}
	}

	hr {
		margin: 30px 0;
		color: $light-1;
	}

	.subsection {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@media (max-width: $tablet-width-1) {
			font-size: 0.8rem;
		}

		h4 {
			margin-bottom: 10px;
			font-size: 1.1rem;

			@media (max-width: $tablet-width-1) {
				font-size: 0.9rem;
			}
		}

		ul {
			max-width: 33%;
			color: $light-2;
			list-style: none;

			li {
				margin: 10px 0;
				letter-spacing: 2px;
			}
		}

		p {
			max-width: 33%;
			color: $light-2;
			letter-spacing: 2px;
		}
	}

	h3 {
		text-align: center;
		margin: 30px 0;
	}
}
