@import "../../variables.scss";

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: $light-1;
	transition: all 0.2s ease-in-out;
	transform: scale(1.01) translateY(20px);
	z-index: 9;

	ul {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: flex-end;
		font-size: 1rem;
		font-family: $font-primary-6;
		letter-spacing: 0.3px;
		color: $secondary-2;

		.logo-container {
			margin-right: auto;
		}

		.logo {
			width: 40px;
			transform: scale(1.5);
			transition: all 0.2s linear;
		}

		li {
			margin: 0 20px;
			transition: all 0.2s linear;
			transform: scale(1.2);

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					cursor: pointer;
					color: $primary-2;
				}
			}
		}

		a {
			color: inherit;
		}
	}
}

.sticky {
	background-color: #000000c9;
	position: fixed;
	top: 0;
	transform: scale(1);

	.logo {
		transform: scale(1);
	}

	li {
		transform: scale(1);
	}
}
