@import "../../variables.scss";

.problems {
	background: {
		color: $dark-1;
		image: linear-gradient(0deg, $dark-1-alpha, $dark-2-alpha),
			url("../../images/problems-bg.jpg");
		repeat: no-repeat, no-repeat;
		position: center, center;
		size: cover, cover;
	}
	height: 100%;
	color: $light-1;
	display: block;

	.boxes-container {
		display: flex;
		flex-direction: column;
		padding-bottom: 100px;

		@media (max-width: $mobile-width-1) {
			padding-bottom: 0;
		}

		.box {
			margin: 50px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: $mobile-width-1) {
				flex-direction: column;
			}

			img {
				width: 200px;
				transition: all 0.3s ease-in-out;
				margin: 30px 0;

				@media (max-width: $mobile-width-1) {
					width: 150px;
				}

				@media (hover: hover) {
					&:hover {
						transform: rotate(-10deg) scale(1.1);
					}
				}
			}

			.box-text {
				max-width: 70%;

				@media (max-width: $mobile-width-1) {
					max-width: unset;
				}

				h3 {
					margin: 30px 0;
					font-size: 1.5rem;
					font-family: $font-secondary-3;
					letter-spacing: 2px;
					line-height: 1.6rem;

					@media (max-width: $mobile-width-1) {
						font-size: 1.2rem;
					}
				}

				h4 {
					margin: 10px 0;
					letter-spacing: 1px;

					@media (max-width: $mobile-width-1) {
						font-size: 1rem;
					}
				}

				p {
					color: $light-2;

					@media (max-width: $mobile-width-1) {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
