@import "fonts/fonts.scss", "./variables.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: $font-primary-6;
	overflow-x: hidden;
	background-color: $dark-2;
	background-image: linear-gradient(45deg, $dark-1, $dark-2);
}

a {
	text-decoration: none;
}

.inner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.backdrop {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 8;
}
