// Colours
$primary-1: #fd5100;
$primary-2: #f98954;
$primary-3: #fbc4aa;
$secondary-1: #00ab07;
$secondary-2: #5ff065;
$secondary-3: #9efea2;
$dark-1: #3d1503;
$dark-1-alpha: #3d1503d5;
$dark-2: #012003;
$dark-2-alpha: #012003d5;
$background-primary: #ffebe2;
$background-secondary: #e9ffea;
$light-1: white;
$light-2: rgb(182, 182, 182);
$light-3: rgb(87, 87, 87);

// Fonts
$font-primary-1: "montserrat-black", sans-serif;
$font-primary-2: "montserrat-extrabold", sans-serif;
$font-primary-3: "montserrat-bold", sans-serif;
$font-primary-4: "montserrat-semibold", sans-serif;
$font-primary-5: "montserrat-medium", sans-serif;
$font-primary-6: "montserrat-regular", sans-serif;
$font-primary-7: "montserrat-light", sans-serif;
$font-primary-8: "montserrat-extralight", sans-serif;
$font-primary-9: "montserrat-thin", sans-serif;
$font-secondary-1: "muli-extrabold", sans-serif;
// $font-secondary-2: "muli-bold", sans-serif;
$font-secondary-2: "montserrat-semibold", sans-serif;
// $font-secondary-3: "muli-semibold", sans-serif;
$font-secondary-3: "montserrat-regular", sans-serif;
$font-secondary-4: "muli-regular", sans-serif;
$font-secondary-5: "muli-light", sans-serif;
$font-secondary-6: "muli-extralight", sans-serif;

// Dimensions
$tablet-width-1: 960px;
$mobile-width-1: 420px;
